  .top-bar {
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 2px solid lightgray;

    }
  .wrapper {
    width: 960px;
    margin: 0 auto;
  }

  #your-name {
    float: left;
    position: relative;
    width: 175px;
    padding: 28px;     
    background-color: teal;
    color: white;
  }

  #menu {
    float: right;
    position: relative;
    width: auto;
    padding: 30px;
    text-align: center;
  }

  .bio {
    border-bottom: 2px solid lightgray;
  position: relative;
  height: 370px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  background: white;
  }

  h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  }

  h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  color: teal;
  }

  #bio-image {
    float: left;
    width: 20%;
    height: auto;
    padding: 15px;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    line-height: 120%;
  }

  .footer {
    border-top: 8px solid teal;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: gray;
    text-align: center;
    z-index: -1;
    }
  
  a:link {
      color: grey;
  }

  a {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;

  }
  
  b {
    color: white;
    font-size: 12px;

  }

  input[type=text] {
    width: 100%;
    padding: 4px;
  }

  input[name=messages] {
    width: 100%;
    height: 130px;
    padding: 4px;
    
  }

  .portfolio {
    border-bottom: 2px solid lightgray;
  position: relative;
  height: 750px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  background: white;
  }

  #image1 {
    float: left;
    width: 30%;
    height: auto;
    padding: 15px;
  }

  #image2 {
    float: left;
    width: 30%;
    height: auto;
    padding: 15px;
  }

  #image3 {
    clear: both;
    float: left;
    width: 30%;
    height: auto;
    padding: 15px;
  }

  #image4 {
    float: left;
    width: 30%;
    height: auto;
    padding: 15px;
  }
  #image5 {
    clear: both;
    float: left;
    width: 30%;
    height: auto;
    padding: 15px;
  }
 
  #banner1 {
    position: absolute;
    right: 67.2%;
    width: 230px;
    top: 240px;
    padding: 20px;
    background: teal;
    color: white;
    text-align: center;
    z-index: 1;
  }

  #banner2 {
    position: absolute;
    right: 35.9%;
    width: 230px;
    top: 240px;
    padding: 20px;
    background: teal;
    color: white;
    text-align: center;
    z-index: 1;
  }


  #banner3 {
    position: absolute;
    right: 67.2%;
    width: 230px;
    top: 470px;
    padding: 20px;
    background: teal;
    color: white;
    text-align: center;
    z-index: 1;
  }

  #banner4 {
    position: absolute;
    right: 35.9%;
    width: 230px;
    top: 470px;
    padding: 20px;
    background: teal;
    color: white;
    text-align: center;
    z-index: 1;
  }
  
  #banner5 {
    position: absolute;
    right: 67.2%;
    width: 230px;
    top: 700px;
    padding: 20px;
    background: teal;
    color: white;
    text-align: center;
    z-index: 1;
  }